{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}





<!-- heading area -->
<div class="bg-blue-900 py-16">
<section class="text-gray-700 font-normal tracking-wide leading-loose text-center container mx-auto px-6 md:px-32 max-w-4xl ">
           <!-- <p class="">


            Hi,my name is <a href="{% url 'jobs' %}" class="underline text-blue-700">Bres George</a> and I am an Informatics student and a web developer.<br>
                I create  <a href="" class="underline text-blue-700">web projects</a>  characterized by simplicity and uniqueness ,with the power of Python and Django.<br>
                Artificial intelligence is one of my my favorite field so you can check my <a href="" class="underline text-blue-700">articles</a> on that also.<br>
            I live in Athens ,Greece but I work also remotely so you can <a href="" class="underline text-blue-700">Skype </a>me.<br><br>

            For any detail don’t hesitate to contact with me.<br>
            bresgeorge@hotmail.com

            </p> -->
   <h1 class="text-6xl text-white">Hello World</h1>
    <p class="text-xl text-white">I’m Bres George, a student of Informatics and a web developer.
                       I design websites and testing neural networks to predict the best outcome.
                       I live in Athens ,Greece but I work also remotely

    </p>

</section>
</div>

<!-- latest post area -->
<section class="pt-2 text-gray-700 container mx-auto px-6 md:px-32">
    <p class="text-center text-2xl py-12">The latest's</p>

<div class="flex justify-between flex-wrap lg:flex-no-wrap  ">
          <div class="bg-yellow-200 m-4  ">  <img class="h-56 cover border-indigo-800 border" src="{% static 'images.png' %}"/></div>
          <div class="bg-green-200  m-4  ">   <img class="h-56 cover border-indigo-800 border" src="{% static 'images.png' %}"/></div>
</div>

 </section>

<!-- projects area -->
<section class="pt-32 text-gray-700">
    <p class="">projects</p>
</section>

{% endblock %}