{% extends 'base.html' %}

{% block content %}

<!-- heading area -->
<section class="pt-32 text-gray-700 font-light tracking-wide leading-relaxed">
<p class="">
Hi,my name is <a href="{% url 'jobs' %}" class="underline text-blue-700">Bres George</a> and I am an Informatics student and a web developer.<br>
    I create  <a href="" class="underline text-blue-700">web projects</a>  characterized by simplicity and uniqueness ,with the power of Python and Django.<br>
    Artificial intelligence is one of my my favorite field so you can check my <a href="" class="underline text-blue-700">articles</a> on that also.<br>
I live in Athens ,Greece but I work also remotely so you can <a href="" class="underline text-blue-700">Skype </a>me.<br><br>

For any detail don’t hesitate to contact with me.<br>
bresgeorge@hotmail.com


</p>

</section>


<!-- latest post area -->
<section class="pt-32 text-gray-700">
    <p class="">Latest </p>
</section>

<!-- projects area -->
<section class="pt-32 text-gray-700">
    <p class="">projects</p>
</section>

{% endblock %}